<!doctype html>
<html lang="pt-Br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="container mb-2 p-5 bg-light border rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5">
                    Meus Pedidos
                </h1>
            </div>
        </div>
        <nav class="navbar navbar-expand bg-body-tertiary mb-3">
            <div class="container-fluid d-flex justify-content-between">
                <div class="navbar-nav">
                    <a class="nav-link active" href="#">Todos</a>
                    <a class="nav-link" href="#">Aguardando</a>
                    <a class="nav-link" href="#">Aprovado</a>
                    <a class="nav-link" href="#">Entregue</a>
                </div>
                <div>
                    <a href="/pedido/formulario">
                        <button class="btn btn-outline-secondary">Novo</button>
                    </a>
                </div>
            </div>
        </nav>
        <div th:each="pedido : ${listaPedidos}" class="card mb-3">
            <div class="card-header">
                <div th:text="${pedido.nomeProduto}">
                    Nome do Produto
                </div>
            </div>
            <div class="card-body row">
                <div class="col-12 col-sm-8">
                    <div class="row">
                        <div class="col-lg-5">
                            Valor:
                            <span th:text="${pedido.valorNegociado}">
                            450,50
                        </span>
                        </div>
                        <div class="col-lg-7">
                            Data Entrega:
                            <span th:text="${pedido.dataDaEntrega}">
                            21/01/23
                        </span>
                        </div>
                    </div>

                    <div>
                        Produto:
                    </div>
                    <div>
                        <input th:value="${pedido.urlProduto}" class="form-control" value="Url do produto" />
                    </div>

                    <div>
                        Descrição:
                    </div>
                    <div>
                        <textarea th:text="${pedido.descricao}" class="form-control">Descrição do pedido</textarea>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div>
                        <img th:src="${pedido.urlImagem}" class="img-thumbnail" src="">
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>